
    <!DOCTYPE html>
    <html lang="en">
    <head>
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gallery</title>
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
         <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap&display=swap">
         <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap&display=swap" media="print" onload="this.media='all'">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap&display=swap" media="print" onload="this.media='all'">
         <link rel="stylesheet" href="/css/vendor-bundle.min.047268c6dd09ad74ba54a0ba71837064.css" media="print" onload="this.media='all'"> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@1.9.2/css/academicons.min.css" integrity="sha512-KlJCpRsLf+KKu2VQa5vmRuClRFjxc5lXO03ixZt82HZUk41+1I0bD8KBSA0fY290ayMfWYI9udIqeOWSu1/uZg==" crossorigin="anonymous" media="print" onload="this.media='all'">
         <link rel="stylesheet" href="/css/libs/chroma/github-light.min.css" title="hl-light" media="print" onload="this.media='all'" >
         <link rel="stylesheet" href="/css/libs/chroma/dracula.min.css" title="hl-dark" media="print" onload="this.media='all'" disabled>
         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
            font-family: 'Roboto', sans-serif; /* 设置全局字体 */
                background-color: transparent; /* 设置背景颜色为透明 */
                mix-blend-mode: difference;
            }
            .gallery-container {
                column-count: 4; /* 设置列数 */
                column-gap: 10px; /* 列间距 */
            }
            .gallery-item {
                display: inline-block;
                width: 100%;
                margin-bottom: 10px;
            }
            .gallery-item img {
                width: 100%;
                height: auto;
                display: block;
            }
            .card-title {
                text-align: center; /* 图片标题居中 */
            }
            .category-title {
                column-span: all;
                text-align: center;
                margin: 20px 0;
              font-size: 1.5em;
                font-weight: bold;
            }
            .card {
                border: none; /* 移除卡片边框 */
                background-color: transparent; /* 设置卡片背景颜色为透明 */
                color: inherit; /* 继承全局字体颜色 */
            }
            .card-body {
                background-color: transparent; /* 设置卡片内容区域背景颜色为透明 */
            }

            /* 媒体查询 */
            @media (max-width: 1200px) {
                .gallery-container {
                    column-count: 4; /* 设置列数 */
                }
                .category-title {
                    font-size: 1.4em;
                }
                .card-title {
                    font-size: 1em; /* 调整字体大小 */
                }
            }
            @media (max-width: 992px) {
                .gallery-container {
                    column-count: 4; /* 设置列数 */
                }
                .category-title {
                    font-size: 1.3em;
                }
                .card-title {
                    font-size: 0.9em; /* 调整字体大小 */
                }
            }
            @media (max-width: 768px) {
                .gallery-container {
                    column-count: 3; /* 设置列数 */
                }
                .category-title {
                    font-size: 1.2em;
                }
                .card-title {
                    font-size: 0.9em; /* 调整字体大小 */
                }
            }
            @media (max-width: 576px) {
                .gallery-container {
                    column-count: 3; /* 设置列数 */
                }
                .category-title {
                    font-size: 1.1em;
                }
                .card-title {
                    font-size: 0.8em; /* 调整字体大小 */
                }
            }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                document.documentElement.setAttribute('data-theme', 'dark');
            });
          </script>
    </head>
    <body>
            <div class="gallery-container">
    <div class="category-title">Family</div>
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/family/Cecilia, my younger cousin.jpg" class="card-img-top" alt="Cecilia, my younger cousin.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Cecilia, my younger cousin</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/family/My grandfather.jpg" class="card-img-top" alt="My grandfather.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">My grandfather</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/family/Nanjing Cangbo Gate, maternal grandfather's hometown.png" class="card-img-top" alt="Nanjing Cangbo Gate, maternal grandfather's hometown.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Nanjing Cangbo Gate, maternal grandfather's hometown</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/family/My maternal grandmother.jpg" class="card-img-top" alt="My maternal grandmother.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">My maternal grandmother</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/family/My parents and little sister.jpg" class="card-img-top" alt="My parents and little sister.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">My parents and little sister</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/family/My father's youth.jpeg" class="card-img-top" alt="My father's youth.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">My father's youth</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/family/Yu, my little sister.jpg" class="card-img-top" alt="Yu, my little sister.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Yu, my little sister</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/family/My mother's youth.jpg" class="card-img-top" alt="My mother's youth.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">My mother's youth</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/family/My maternal grandfather.jpg" class="card-img-top" alt="My maternal grandfather.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">My maternal grandfather</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/family/Huai 'an Hexia ancient Town, maternal grandmother's hometown.jpg" class="card-img-top" alt="Huai 'an Hexia ancient Town, maternal grandmother's hometown.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Huai 'an Hexia ancient Town, maternal grandmother's hometown</h5>
                            </div>
                        
                        </div>
                    </div>
                    <div class="category-title">Travel</div>
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Calton Hill, in Edinburgh.jpeg" class="card-img-top" alt="Calton Hill, in Edinburgh.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Calton Hill, in Edinburgh</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Giant's Causeway.jpeg" class="card-img-top" alt="Giant's Causeway.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Giant's Causeway</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Phuket Beach.jpeg" class="card-img-top" alt="Phuket Beach.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Phuket Beach</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Taronga Zoo.jpeg" class="card-img-top" alt="Taronga Zoo.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Taronga Zoo</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/山塘街.jpeg" class="card-img-top" alt="山塘街.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">山塘街</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Arthur's throne.jpeg" class="card-img-top" alt="Arthur's throne.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Arthur's throne</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Dean Village.jpeg" class="card-img-top" alt="Dean Village.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Dean Village</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Dark hedge.jpeg" class="card-img-top" alt="Dark hedge.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Dark hedge</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/廊桥飞虹.jpeg" class="card-img-top" alt="廊桥飞虹.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">廊桥飞虹</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Island Ward.jpeg" class="card-img-top" alt="Island Ward.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Island Ward</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Torch show, in Phuket.jpeg" class="card-img-top" alt="Torch show, in Phuket.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Torch show, in Phuket</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Hosier lane.jpeg" class="card-img-top" alt="Hosier lane.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Hosier lane</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Miss Saigon, at the Sydney Opera House.jpeg" class="card-img-top" alt="Miss Saigon, at the Sydney Opera House.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Miss Saigon, at the Sydney Opera House</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/拙政园.jpeg" class="card-img-top" alt="拙政园.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">拙政园</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/舟山.jpeg" class="card-img-top" alt="舟山.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">舟山</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Sapporo ほくだい.jpg" class="card-img-top" alt="Sapporo ほくだい.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Sapporo ほくだい</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/白塔.jpeg" class="card-img-top" alt="白塔.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">白塔</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Darling harbor.jpeg" class="card-img-top" alt="Darling harbor.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Darling harbor</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Shibuya Cross Street.jpg" class="card-img-top" alt="Shibuya Cross Street.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Shibuya Cross Street</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Nara 🦌.jpg" class="card-img-top" alt="Nara 🦌.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Nara 🦌</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/Kyoto 千本鳥居.jpg" class="card-img-top" alt="Kyoto 千本鳥居.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">Kyoto 千本鳥居</h5>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="">
                            <img data-src="/gallery/travel/In Oxford, with Mark.jpeg" class="card-img-top" alt="In Oxford, with Mark.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                            <div class="card-body">
                                <h5 class="card-title">In Oxford, with Mark</h5>
                            </div>
                        
                        </div>
                    </div>
                    <div class="category-title">Food</div>
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_5018.JPG" class="card-img-top" alt="IMG_5018.JPG" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_4780.jpeg" class="card-img-top" alt="IMG_4780.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_9396.PNG" class="card-img-top" alt="IMG_9396.PNG" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_0211.PNG" class="card-img-top" alt="IMG_0211.PNG" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_2188.jpeg" class="card-img-top" alt="IMG_2188.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_4908.jpeg" class="card-img-top" alt="IMG_4908.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_4909.jpeg" class="card-img-top" alt="IMG_4909.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_4677.jpeg" class="card-img-top" alt="IMG_4677.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_2432.jpeg" class="card-img-top" alt="IMG_2432.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_0070.PNG" class="card-img-top" alt="IMG_0070.PNG" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_2186.jpeg" class="card-img-top" alt="IMG_2186.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_3563.jpeg" class="card-img-top" alt="IMG_3563.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_9665.PNG" class="card-img-top" alt="IMG_9665.PNG" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_5017.JPG" class="card-img-top" alt="IMG_5017.JPG" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_5015.jpg" class="card-img-top" alt="IMG_5015.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
                    <div class="gallery-item">
                        <div class="card" style="border: none;">
                            <img data-src="/gallery/food/IMG_4673.jpeg" class="card-img-top" alt="IMG_4673.jpeg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBA==">
                    
                        </div>
                    </div>
                    
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const theme = localStorage.getItem('theme') || 'light';
                document.body.classList.add(theme + '-theme');

                document.querySelectorAll('.js-set-theme-light').forEach(el => {
                    el.addEventListener('click', () => {
                        document.body.classList.remove('dark-theme', 'auto-theme');
                        document.body.classList.add('light-theme');
                        localStorage.setItem('theme', 'light');
                    });
                });

                document.querySelectorAll('.js-set-theme-dark').forEach(el => {
                    el.addEventListener('click', () => {
                        document.body.classList.remove('light-theme', 'auto-theme');
                        document.body.classList.add('dark-theme');
                        localStorage.setItem('theme', 'dark');
                    });
                });

                document.querySelectorAll('.js-set-theme-auto').forEach(el => {
                    el.addEventListener('click', () => {
                        document.body.classList.remove('light-theme', 'dark-theme');
                        document.body.classList.add('auto-theme');
                        localStorage.setItem('theme', 'auto');
                    });
                });
            // 延迟加载图片
                var lazyImages = [].slice.call(document.querySelectorAll("img[data-src]"));

                if ("IntersectionObserver" in window) {
                    let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
                        entries.forEach(function(entry) {
                            if (entry.isIntersecting) {
                                let lazyImage = entry.target;
                                lazyImage.src = lazyImage.dataset.src;
                                lazyImage.removeAttribute("data-src");
                                lazyImageObserver.unobserve(lazyImage);
                            }
                        });
                    });

                    lazyImages.forEach(function(lazyImage) {
                        lazyImageObserver.observe(lazyImage);
                    });
                } else {
                    // Fallback for browsers that do not support IntersectionObserver
                    lazyImages.forEach(function(lazyImage) {
                        lazyImage.src = lazyImage.dataset.src;
                        lazyImage.removeAttribute("data-src");
                    });
                }
            });
        </script>
    </body>
</html>
