<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="section-heading col-12 mb-3 text-center">
        <h1 class="mb-0">Gallery</h1>
      </div>
    </div>

    {% for category, images in categories.items() %}
    <div class="row">
      <div class="col-12 mb-3 text-center">
        <h2>{{ category }}</h2>
      </div>
      {% for image in images %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img src="{{ url_for('gallery', filename=image) }}" class="card-img-top" alt="{{ image }}">
          <div class="card-body">
            <h5 class="card-title">{{ image.split('/')[-1].rsplit('.', 1)[0] }}</h5>
            <!-- <p class="card-text">Description for {{ image.split('/')[-1] }}.</p> -->
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>